body {
    background-color: #F4F4F4;
}

.dashboard {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}